// Variable

/* Color */
$color-white: #ffffff;
$color-light-white: #eeeeee;
$color-dark-white: #bdbdbd;
$color-pink: #fe918d;
$color-dark-pink: #ff6863;
$color-dark-grey: #4d4d4d;
$color-grey: #616161;
$color-light-grey: #7c7979;
$color-blue: #73aace;
$color-accent: #d49466;
$color-yellow: #fff7d1;
$color-orange: #feb546;
$color-black: #000000;
$color-navbar: #a52a2a;

/* Font size */
$font-large: 48px;
$font-medium: 28px;
$font-regular: 18px;
$font-small: 16px;
$font-micro: 14px;

/* Font weight */
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;

/* Size */
$size-border-radius: 4px;

/* Animation */
$animation-duration: 300ms;

// Universal tags
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: $color-white;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

section {
  padding: 50px;
  text-align: center;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

// Typography

h1 {
  font-size: $font-large;
  font-weight: $weight-bold;
  color: $color-black;
  margin: 16px 0;
}

h2 {
  font-size: $font-medium;
  font-weight: $weight-semi-bold;
  color: $color-black;
  margin: 8px 0;
}

h3 {
  font-size: $font-regular;
  font-weight: $weight-regular;
  color: $color-black;
  margin: 8px 0;
}

p {
  font-size: $font-regular;
  font-weight: $weight-regular;
  color: $color-black;
  margin: 4px 0;
}

// Navbar

#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../imgs/navbarColor.png);
  padding: 16px;

  .navbar__logo {
    font-size: $font-medium;
    font-weight: $weight-semi-bold;

    i {
      color: $color-accent;
    }

    a {
      color: $color-navbar;
    }
  }

  .navbar__menu {
    display: flex;

    .navbar__menu__item {
      padding: 8px 12px;
      margin: 0 4px;
      color: $color-navbar;
      cursor: pointer;
      border-radius: $size-border-radius;
    }

    .navbar__menu__item.active {
      border: 2px solid $color-white;
    }

    .navbar__menu__item:hover {
      background-color: $color-dark-pink;
    }
  }

  .navbar__toggle-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 24px;
    color: $color-navbar;
    display: none;
  }
}

// Home

#home {
  background: url(../imgs/homebackground.png);
  background-size: cover;

  .home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid $color-white;
  }

  .home__contact {
    font-size: $font-regular;
    font-weight: $weight-semi-bold;
    margin: 24px;
    padding: 12px;
    border: 2px solid $color-white;
    color: $color-navbar;
    border-radius: $size-border-radius;
  }

  .home__contact:hover {
    background-color: $color-dark-pink;
  }
}

// About

#about {
  max-width: 1200px;
  margin: 0 auto;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  border: 1px solid $color-accent;
  border-radius: 50%;
  margin-bottom: 16px;

  i {
    color: $color-accent;
    transition: all $animation-duration ease;
  }
}

.major__icon:hover i {
  color: $color-dark-pink;
  transform: rotate(-30deg) scale(1.1);
}

.major__title {
  color: $color-dark-grey;
}
.about__job {
  display: flex;
  justify-content: space-evenly;

  .job {
    display: flex;
    align-items: center;

    .job__log {
      width: 50px;
      height: 50px;
    }

    .job__description {
      margin: 0 16px;
      text-align: left;

      .job__name,
      .job__period {
        color: $color-light-grey;
      }

      .job__name {
        font-size: $font-small;
      }

      .job__period {
        font-size: $font-micro;
      }
    }
  }
}

//Skills

#skills {
  background: url(../imgs/skillbackground.png);
  background-size: cover;

  .skills__container {
    max-width: 1200px;
    margin: 0 auto;

    .skillset {
      display: flex;
      background-color: $color-orange;
      border-radius: $size-border-radius;
      color: $color-navbar;
      margin: 20px 0;

      .skillset__title {
        color: $color-navbar;
      }

      .skillset__left {
        flex-basis: 70%;
        background-color: $color-orange;
        padding: 20px 40px;

        .skill {
          margin-bottom: 26px;

          .skill__description {
            display: flex;
            justify-content: space-between;
          }

          .skill__bar {
            width: 100%;
            height: 3px;
            background-color: lighten($color-orange, 20%);

            .skill__value {
              height: 3px;
              background-color: $color-dark-pink;
            }
          }
        }
      }

      .skillset__right {
        flex-basis: 30%;

        .tools {
          background-color: lighten($color-orange, 10%);
          padding: 36px 0;
        }

        .etc {
          background-color: lighten($color-orange, 20%);
          padding: 37px 0;
        }

        .tools__list,
        .etc__list {
          color: $color-dark-pink;
        }
      }
    }
  }
}

// Work

.work__categories {
  margin: 40px;

  .category__btn {
    border: 1px solid $color-dark-white;
    border-radius: $size-border-radius;
    font-size: $font-regular;
    padding: 8px 48px;

    .category__count {
      margin-left: 2px;
      background-color: $color-orange;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: inline-block;
      line-height: 24px;
      position: relative;
      top: -20px;
      left: 4px;
      opacity: 0;
      transition: all $animation-duration ease-in;
    }
  }

  .category__btn.active,
  .category__btn:hover {
    background-color: $color-dark-pink;
    color: $color-white;
  }

  .category__btn.active .category__count,
  .category__btn:hover .category__count {
    opacity: 1;
    top: 0;
  }
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
    margin: 2px;
    background-color: $color-light-white;

    .project__img {
      max-width: 100%;
      max-height: 92%;
    }
  }

  .project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
  }

  .project__description {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition: all $animation-duration ease-in;

    h3 {
      color: $color-white;
    }

    h3::after {
      content: "";
      display: block;
      position: relative;
      background-color: $color-dark-white;
      left: 50%;
      width: 25px;
      height: 2px;
      margin: 8px 0 0 -12px;
    }
  }
}

#testimonials {
  background: url(../imgs/testimonials.png);

  .testimonials__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.testimonials {
  margin: 40px;

  .testimonial {
    display: flex;
    margin: 32px 0;

    .testimonial__avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    .testimonial__avatar:nth-child(odd) {
      margin-right: 40px;
    }

    .testimonial__avatar:nth-child(even) {
      margin-left: 40px;
    }

    .testimonial__speech-bubble {
      background-color: lighten($color-orange, 20%);
      padding: 18px;
      border-radius: $size-border-radius;
    }
  }
}

#contact {
  background-color: $color-orange;

  .contact__title,
  .contact__email {
    color: $color-navbar;
  }

  .contact__title {
    margin: 32px 0;
  }

  .contact__links {
    font-size: $font-large;
    margin: 24px 0;
    transition: all $animation-duration ease-in;
  }
  .contact__links a {
    margin: 10px;
  }

  .contact__links i:hover {
    transform: scale(1.2);
    color: $color-dark-pink;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;

    .navbar__menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
  }

  .navbar__toggle-btn {
    display: block;
  }
}
