/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-navbar: #a52a2a;
  --color-orange: #feb546;
  --color-linght-orange: #fec979;
  --color-morelingth-orange: #ffdeab;
  --color-accent: #d49466;
  --color-black: #000000;
  --color-darkblue: #263343;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-white);
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

/* Section common */

.section__container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 50px;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: url(../imgs/navbarColor.png);
  align-items: center;
  color: var(--color-navbar);
  z-index: 3;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin-left: 18px;
  color: var(--color-accent);
}

.navbar__logo a {
  color: var(--color-navbar);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.navbar__menu__item.active {
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
  border-radius: var(--size-border-radius);
}

/* Home */
#home {
  background: url(../imgs/homebackground.png);
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-black);
}

.home__contact {
  color: var(--color-navbar);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 12px 18px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-dark-pink);
}

/* About */
#about a {
  color: var(--color-navbar);
}

#about a:hover {
  text-decoration: underline;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-navbar);
  border: 1px solid var(--color-navbar);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-dark-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.about__job {
  display: flex;
  justify-content: space-evenly;
}

.job {
  display: flex;
  padding: 4px 0;
}

.job__description {
  margin: 0 20px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

.job img {
  width: 70px;
  height: 50px;
}

/* Skill */

#skills {
  background: url(../imgs/skillbackground.png);
  background-size: cover;
}

#skills p {
  margin: 20px 0;
}

.skillset {
  display: flex;
  background-color: var(--color-morelingth-orange);
  color: var(--color-navbar);
}

.skill__title {
  color: var(--color-navbar);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 65%;
  background-color: var(--color-orange);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 38px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-navbar);
}

.skill__value {
  height: 3px;
  background-color: var(--color-dark-pink);
}

.skillset__right {
  flex-basis: 35%;
}

.tools {
  background-color: var(--color-linght-orange);
}

.tools,
.etc {
  padding: 40px;
}

/* Work */

#work {
  z-index: 1;
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 34px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 300px;
  margin: 5px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 85%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-grey);
}
/* Blog */

#blogs {
  background: url(../imgs/testimonials.png);
}

#blogs h2 {
  margin-bottom: 40px;
}

.blog__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog {
  width: 280px;
  height: 280px;
  background-size: cover;
  margin: 20px;
  /* display: flex;
  flex-direction: column; */
}

.blog__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.5;
}

.blog__link {
  color: var(--color-black);
  height: 40px;
  font-size: var(--font-size-medium);
  padding-top: 20px;
  color: var(--color-morelingth-orange);
}

.blog__link:hover {
  color: var(--color-dark-pink);
  text-decoration: underline;
}

/* Testimonial */

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-morelingth-orange);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
  margin-bottom: 30px;
}

.testimonial__speech-bubble a {
  color: var(--color-blue);
}

/* Contact */
#contact {
  background: url(../imgs/testimonials.png);
}

.contact__email,
.contact__title {
  color: var(--color-morelingth-orange);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-dark-pink);
  transition: all var(--animation-duration) ease-in;
}

.contact__links a {
  margin: 10px;
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 26px;
  font-size: 24px;
  color: var(--color-accent);
  display: none;
}
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .hidden {
    display: none;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 0;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__menu__item {
    width: 90%;
    margin: 2px auto;
  }

  .section {
    padding: 16px;
  }

  .about__majors {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .major {
    margin-bottom: 30px;
  }

  .about__job {
    flex-direction: column;
    align-items: center;
  }

  .job {
    width: 300px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .work__categories {
    display: flex;
    flex-direction: column;
  }

  .category__btn {
    margin-bottom: 5px;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .navbar__menu.active {
    display: flex;
  }
}
